body{
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 1em 1em;
  color: #555;
}

iframe {
	padding:10px;
}

header{
	width:100%;
	padding-left:10px;
}

h1,
h2,h3,
strong, b {
  color: #333;
}

h2 {
  margin-top: 1em;

}

a {
  color: #e81c4f;
}

#options a{
font-weight:bold;
}